POSTGRES_DB=homeops
POSTGRES_USER=homeops
POSTGRES_PASSWORD=homeops_dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ConnectionStrings__HomeOps=Host=localhost;Port=5432;Database=homeops;Username=homeops;Password=homeops_dev_password
