<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerRepository>familyboard-app</ContainerRepository>
    <ContainerImageTag>dev</ContainerImageTag>
    <ContainerArchiveOutputPath>$(MSBuildProjectDirectory)\..\..\artifacts\container\familyboard-app-dev.tar.gz</ContainerArchiveOutputPath>
    <PublishTarget>PublishContainer</PublishTarget>
  </PropertyGroup>
</Project>
